.key-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 800px;
    color: white;
}

.key{
    border:2px solid white;
    padding: 0 20px;
}

body{
    background-image: url("./background.jpg");
}